@mixin list-style-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button-style-reset {
  padding: 0;
  box-sizing: content-box;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

@mixin link-style-reset {
  color: inherit;

  text-decoration: none;
}

@mixin title-style-reset {
  margin: 0;

  font-weight: normal;
}

@mixin paragraph-style-reset {
  margin: 0;
}
